@model List<MVCStudentDetails.Context.tbl_MVCStudent>

@{
    ViewBag.Title = "StudentList";
}

<table class="table table-hover">
    <tr>
        <th>FName</th>
        <th>LName</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Description</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Fname</td>
            <td>@item.Lname</td>
            <td>@item.Email</td>
            <td>@item.Mobile</td>
            <td>@item.Description</td>
            <td>
                @*<a href="#"><i class="glyphicon glyphicon-pencil"></i></a>
                <a href="#"><i class="glyphicon glyphicon-trash"></i></a>*@
                <a href="@Url.Action("Student", new { item.ID, item.Fname, item.Lname, item.Email, item.Mobile, item.Description })" class="btn btn-success">Edit</a>
                <a href="@Url.Action("Delete", new { item.ID })" class="btn btn-danger">Delete</a>      @*MethodName, Id*@
            </td>
        </tr>
    }
</table>